@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

:root{
    --white: #fff;
    --azul: #293388;
}

h1{
    margin-left: 75px;
    margin-top: 5px;
    font-size: 38px;
    color: var(--white);
}

.logo{
    width: 130px;
    height: 70px;
    margin-left:25px;
}

.cabecalho{
    display: flex;
    background-color: #293388;
    width: 100%;
}

.lista-cabecalho{
    margin-left: 70px;
    list-style: none;
}

.item-cabecalho{
    color: var(--white);
    font-size: 11px;
    padding: 2px;
}

.input-date{
    background-color: transparent;
    color: var(--white);
}

.perfil{
    width: 39px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    fill: #fff;
}

.navegacao{
    margin-left: 620px;
    margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--azul);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: var(--white);
    color: var(--azul);
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.img-navagation{
    width: 65px;
    display: block;
    margin-bottom:10px;
    cursor: pointer;
    margin-left: 40px;
 
}

.img-navagation {
    transition: filter 0.3s ease;
    margin-top: 28px;
}


.bds-img{
    width: 120px;
    padding: 15px;
    cursor: pointer;
}

.info-venda{
    border: 3px solid var(--azul);
    background-color: #ddd;
    width: 108%;

    /*margin-top: 5px;
    margin-left: 5px;*/
}



.venda-e-img{
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 22px;
    margin-top: 15px;
    margin-left:5px
}

h4{
    font-size: 22px;
    margin-top: 8px;
    margin-left: 8px;
}

.h3{
    margin-top:24px;
    margin-left: 15px;
    font-size: 22px;
    cursor: pointer;
}

.svg-cliente-venda{
    width: 35px;
    fill: var(--azul) ;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 15px;
    padding: 5px;
}

.cliente-venda{
    display: flex;
}

.svg-cliente-venda-calendario{
    width: 30px;
    fill: var(--azul) ;
    cursor: pointer;
    margin-top: 8px;
}

.produto-venda{
    background-color: #ddd;
    width: 108%;
    border: 3px solid var(--azul);
    height:59vh;
    /*margin-left: 5px;
    margin-top: 8px;*/
}

.descricao-produto{
    display: flex;
    padding: 15px;
    margin-left: 18px;
}

.svg-produto{
    width: 25px;
    fill: var(--azul);
    cursor: pointer;
}

.descricao-produto p{
    font-size: 18px;
    padding: 8px;
}

.qtd-venda{
    font-size: 18px;
    margin-left: 85px;
}

.inputs-venda .input-1{
    padding: 10px;
    border: 1px solid;
    margin-left: 25px;
    width: 200px;
}

.input-2{
    padding: 10px;
    border: 1px solid;
    margin-left: 1px;
    margin-left: 30px;
    width: 200px;
}

.info-produto{
    padding: 15px;
    font-size: 22px;
}

.botoes-venda button{
    padding: 10px;
    margin-left: 8px;
}

.botoes-venda{
   text-align: center;
    margin-top: 50px;
}

button{
    margin: 8px;
    width: 200px;
}

.botao-1{
    border: 3px solid var(--azul);
    color: var(--azul);
    background-color: #6170f7;
    border-radius: 8px;
    font-size: 18px;
}

.botao-2{
    color: #d11515;
    border: 3px solid #d11515 ;
    border-radius: 8px;
    font-size: 18px;
    background-color: #eb7f7f;
}

.botao-3{
    border-radius: 8px;
    font-size: 18px;
    color: #259c25;
    border: 3px solid #259c25;
    background-color: #8ae98a;
}

.container{
    display: flex;
   
}

.container-info-venda{
    width: 35%;
    padding: 8px 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.venda-produto{
    background-color: #ddd;
    height: 550px;
    width: 800px;
    margin-left: 40px;
    margin-top: 8px;
    border: 3px solid var(--azul);
}

.titulo-venda{
    display: flex;
    margin-left: 330px;
}

.titulo-venda p{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.mao-svg{
    width: 50px;
    margin-left: 15px;
    fill: red;
    cursor: pointer;
}

.mao-svg:active{
    fill: #259c25;
}

.itens-tabela{
    display: flex;
    margin-top: 30px;
}

.seguencia{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    text-align: center;
    width: 60px;
    margin-left: 8px;
}

.seguencia-1:hover{
    background-color: #9e9a9a;
}

.codigo{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 86px;
    text-align: center;
}

.codigo-1:hover{
    background-color: #9e9a9a;
}

.produto-descricao{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 130px;
    text-align: center;
}

.produto-descricao-1:hover{
    background-color: #9e9a9a;
}

.quantidade-venda{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 55px;
    text-align: center;  
}

.quantidade-venda-1:hover{
    background-color: #9e9a9a;
}

.valor-produto{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 73px;
    text-align: center;  
}

.valor-produto-1:hover{
    background-color: #9e9a9a;
}

.sub-total{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 6px;
    width: 79px;
    text-align: center;
}

.sub-total-1:hover{
    background-color: #9e9a9a;
}

.tipo{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 72px;
    text-align: center;  
}

.tipo-1:hover{
    background-color: #9e9a9a;
}

.acao{
    padding: 5px;
    border: 3px solid  var(--azul);
    font-size: 18px;
    margin-left: 5px;
    width: 70px;
    text-align: center;  
}

.acao-1:hover{
    background-color: #9e9a9a;
}

.svg-venda{
    width: 12px;
    fill: #259c25;
    cursor: pointer;
}

.produto-venda-lista{
    display: flex;
   
}

.acao-svg1{
    width: 14px;
    fill: #259c25;
    cursor: pointer;
}

.acao-svg2{
    width: 14px;
    fill: #d11515;
    cursor: pointer;
}

.seguencia-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    height: 20px;
    text-align: center;
    width: 68px;
    margin-top: 8px;
    cursor: pointer;
    margin-left: 8px;
}

.codigo-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 4px;
    text-align: center;
    width: 86px;
    margin-top: 8px; 
    cursor: pointer;
    height: 20px;
}

.produto-descricao-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 4px;
    text-align: center;
    width: 143px;
    margin-top: 8px; 
    cursor: pointer;
    height: 20px;
}

.quantidade-venda-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 5px;
    text-align: center;
    width: 60px;
    margin-top: 8px; 
    cursor: pointer;
    height: 20px;
}

.valor-produto-1{
    padding: 5px;
    background-color: #ddd;
    font-size: 18px;
    border: 3px solid;
    margin-left: 5px;
    text-align: center;
    width: 80px;
    margin-top: 8px; 
    cursor: pointer;
    height: 20px;
}

.sub-total-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 5px;
    text-align: center;
    width: 88px;
    margin-top: 8px; 
    cursor: pointer;
    height: 20px;
}

.tipo-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 3px;
    text-align: center;
    width: 80px;
    margin-top: 8px;
    height: 20px; 
}

.acao-1{
    padding: 5px;
    background-color: #cfcccc;
    font-size: 18px;
    border: 3px solid;
    margin-left: 5px;
    text-align: center;
    width: 80px;
    margin-top: 8px; 
    height: 20px;
}

.input-venda{
    padding: 10px;
    width: 200px;
    text-align: right;
    margin-top: 2%;
    font-size: 18px;
    border: 3px solid var(--azul);
    font-weight: bold;
}

.soma-venda{
    margin-left: 15%;
}

.input-venda-1{
    padding: 10px;
    width: 200px;
    text-align: right;
    margin-top: 2%;
    margin-left: 28px;
    font-size: 18px;
    border: 3px solid var(--azul);
    font-weight: bold;
}

.radio{
    margin-left: 80px;
}

.input-venda-vista{
    padding: 10px;
    width: 200px;
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
    border: 3px solid var(--azul);
    margin-left: 15%;
    font-weight: bold;
}

.input-venda-vista-2{
    padding: 10px;
    width: 200px;
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
    border: 3px solid var(--azul);
    margin-left: 28px;
    font-weight: bold;
}

.total-geral{
    font-size: 30px;
    width: 98%;
    margin-top: 25px;
    text-align: right;
    margin-left: 8px;
}